.appointment-edited .frame {
  margin-bottom: 18px;
  width: 134px;
  height: 134px;
}
.appointment-edited .appointment-successfully-edited {
  margin-bottom: 53px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 0.938;
  color: #52B46B;
}
.appointment-edited .congratulations-your-appointment-is-edited {
  margin: 0 1px 38px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #161616;
}
.appointment-edited .go-to-my-schedule {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.appointment-edited .group-33370 {
  border-radius: 30px;
  background: #0075FF;
  position: relative;
  margin: 0 43px;
  display: flex;
  padding: 10px 0 11px 0;
  width: calc(100% - 86px);
  box-sizing: border-box;
}
.appointment-edited {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 0 347px 0;
  box-sizing: border-box;
}
