.my-availability .menu {
  background: url('../assets/images/menu.png') 50% / contain no-repeat;
  width: 55px;
  height: 41px;
}
.my-availability .frame-36 {
  margin: 4.5px 0;
  display: flex;
  width: 55px;
  height: 41px;
  box-sizing: border-box;
}
.my-availability .ellipse-1 {
  border-radius: 25px;
  background: url('../assets/images/ellipse_1.jpeg') 50% / cover no-repeat;
  width: 50px;
  height: 50px;
}
.my-availability .frame-37 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #000000;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4px 20px;
  width: 100%;
  box-sizing: border-box;
}
.my-availability .my-availability-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 0.2px;
  color: #000000;
}
.my-availability .frame-2 {
  margin-bottom: 39px;
  display: flex;
  align-self: center;
  box-sizing: border-box;
}
.my-availability .date-04162024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-94 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  margin-right: 10px;
  display: flex;
  padding: 22px 15.8px;
  flex-grow: 1;
  flex-basis: 150px;
  box-sizing: border-box;
}
.my-availability .am-to-400-pm {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-78 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin: 13.5px 0;
  display: flex;
  padding: 9px 1px 8px 0;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 203px;
  box-sizing: border-box;
}
.my-availability .frame-93 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 2px 19px 5px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-availability .edit {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-163 {
  border-radius: 25px;
  background: rgba(0, 117, 255, 0.5);
  display: flex;
  padding: 16px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-availability .frame-165 {
  position: absolute;
  left: 50%;
  bottom: 19px;
  translate: -50% 0;
  box-sizing: border-box;
}
.my-availability .frame-131 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 30px 5px 30px;
  display: flex;
  padding-top: 31px;
  width: calc(100% - 60px);
  height: 200px;
  box-sizing: border-box;
}
.my-availability .date-04192024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-941 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  margin-right: 10px;
  display: flex;
  padding: 22px 15.8px;
  flex-grow: 1;
  flex-basis: 150px;
  box-sizing: border-box;
}
.my-availability .am-to-400-pm-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-781 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin: 13.5px 0;
  display: flex;
  padding: 9px 1px 8px 0;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 203px;
  box-sizing: border-box;
}
.my-availability .frame-931 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 2px 19px 5px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-availability .edit-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-1631 {
  border-radius: 25px;
  background: rgba(0, 117, 255, 0.5);
  display: flex;
  padding: 16px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-availability .frame-1651 {
  position: absolute;
  left: 50%;
  bottom: 19px;
  translate: -50% 0;
  box-sizing: border-box;
}
.my-availability .frame-135 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 30px 5px 30px;
  display: flex;
  padding-top: 31px;
  width: calc(100% - 60px);
  height: 200px;
  box-sizing: border-box;
}
.my-availability .date-04252024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-942 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  margin-right: 10px;
  display: flex;
  padding: 22px 15.8px;
  flex-grow: 1;
  flex-basis: 150px;
  box-sizing: border-box;
}
.my-availability .am-to-400-pm-2 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-782 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin: 13.5px 0;
  display: flex;
  padding: 9px 1px 8px 0;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 203px;
  box-sizing: border-box;
}
.my-availability .frame-932 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 2px 19px 5px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-availability .edit-2 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-availability .frame-1632 {
  border-radius: 25px;
  background: rgba(0, 117, 255, 0.5);
  display: flex;
  padding: 16px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-availability .frame-1652 {
  position: absolute;
  left: 50%;
  bottom: 19px;
  translate: -50% 0;
  box-sizing: border-box;
}
.my-availability .frame-136 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 30px 31px 30px;
  display: flex;
  padding-top: 31px;
  width: calc(100% - 60px);
  height: 200px;
  box-sizing: border-box;
}
.my-availability .next {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}
.my-availability .buttons {
  border-radius: 30px;
  background: #0075FF;
  display: flex;
  padding: 15px 0;
  width: 158px;
  height: fit-content;
  box-sizing: border-box;
}
.my-availability .frame-3 {
  margin: 0 36px;
  display: flex;
  width: 158px;
  box-sizing: border-box;
}
.my-availability {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 35px 0 67px 0;
  box-sizing: border-box;
}
