.my-schedule .menu {
  background: url('../assets/images/menu.png') 50% / contain no-repeat;
  width: 55px;
  height: 41px;
}
.my-schedule .frame-36 {
  margin: 4.5px 0;
  display: flex;
  width: 55px;
  height: 41px;
  box-sizing: border-box;
}
.my-schedule .ellipse-1 {
  border-radius: 25px;
  background: url('../assets/images/ellipse_1.jpeg') 50% / cover no-repeat;
  width: 50px;
  height: 50px;
}
.my-schedule .frame-37 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #000000;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4px 20px;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .my-schedule-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 0.2px;
  color: #000000;
}
.my-schedule .frame-2 {
  margin-bottom: 27px;
  display: flex;
  box-sizing: border-box;
}
.my-schedule .date-04162024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-132 {
  margin-bottom: 9.5px;
  display: flex;
  box-sizing: border-box;
}
.my-schedule .cleaning-sofa-cleaning {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-94 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  margin-right: 6px;
  display: flex;
  padding: 9.5px 0;
  flex-grow: 1;
  flex-basis: 258px;
  box-sizing: border-box;
}
.my-schedule .pm {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-78 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin-top: 2px;
  display: flex;
  padding: 8.5px 9.4px;
  flex-grow: 1;
  flex-basis: 75px;
  box-sizing: border-box;
}
.my-schedule .frame-95 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .painting-wallpaper-installation {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-941 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  margin-right: 6px;
  display: flex;
  padding: 9.5px 0;
  flex-grow: 1;
  flex-basis: 258px;
  box-sizing: border-box;
}
.my-schedule .pm-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-781 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin-top: 2px;
  display: flex;
  padding: 8.5px 9.4px;
  flex-grow: 1;
  flex-basis: 75px;
  box-sizing: border-box;
}
.my-schedule .frame-96 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .frame-93 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.5px 5px;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .frame-131 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13.5px 10px 6px 9px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-schedule .group-33358 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0 5.3px 20px 5.3px;
  display: flex;
  width: calc(100% - 10.6px);
  box-sizing: border-box;
}
.my-schedule .date-04192024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-1321 {
  margin-bottom: 9.5px;
  display: flex;
  box-sizing: border-box;
}
.my-schedule .cleaning-sofa-cleaning-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-942 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  margin-right: 6px;
  display: flex;
  padding: 9.5px 0;
  flex-grow: 1;
  flex-basis: 258px;
  box-sizing: border-box;
}
.my-schedule .pm-2 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-782 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin-top: 2px;
  display: flex;
  padding: 8.5px 9.4px;
  flex-grow: 1;
  flex-basis: 75px;
  box-sizing: border-box;
}
.my-schedule .frame-951 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .painting-wallpaper-installation-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-943 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  margin-right: 6px;
  display: flex;
  padding: 9.5px 0;
  flex-grow: 1;
  flex-basis: 258px;
  box-sizing: border-box;
}
.my-schedule .pm-3 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-783 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin-top: 2px;
  display: flex;
  padding: 8.5px 9.4px;
  flex-grow: 1;
  flex-basis: 75px;
  box-sizing: border-box;
}
.my-schedule .frame-961 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .frame-931 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.5px 5px;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .frame-1311 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13.5px 10px 6px 9px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-schedule .group-33359 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0 5.3px 37px 5.3px;
  display: flex;
  width: calc(100% - 10.6px);
  box-sizing: border-box;
}
.my-schedule .previous-appointments {
  margin-bottom: 32px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 23px;
  letter-spacing: -0.4px;
  line-height: 0.957;
  color: #000000;
}
.my-schedule .cleaning-sofa-cleaning-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-944 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  position: relative;
  margin-right: 6px;
  height: 62px;
  flex-grow: 1;
  flex-basis: 237px;
}
.my-schedule .pm-4 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-784 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin: 13.5px 0;
  display: flex;
  padding: 8.5px 9.4px;
  flex-grow: 1;
  flex-basis: 75px;
  box-sizing: border-box;
}
.my-schedule .frame-932 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 26px;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .feed-back {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-166 {
  border-radius: 30px;
  background: #80BAFF;
  margin: 0 36px;
  display: flex;
  align-self: flex-start;
  padding: 15.5px 0;
  width: 130px;
  box-sizing: border-box;
}
.my-schedule .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-schedule .date-01122024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule .frame-1323 {
  position: absolute;
  left: 125.3px;
  top: 14.5px;
  display: flex;
  box-sizing: border-box;
}
.my-schedule .frame-1322 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 31px 9.6px 18px 0;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .group-33373 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule .frame-133 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 24.7px 148px 24.7px;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0 1px 0;
  box-sizing: border-box;
}
