.my-schedule-1 .icon-magnifyingglass {
  margin: 3.1px 6px 3.1px 0;
  width: 15.6px;
  height: 15.8px;
}
.my-schedule-1 .placeholder {
  overflow-wrap: break-word;
  font-family: 'SF Pro Text', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.4px;
  line-height: 1.294;
  color: var(--label-color-light-secondary, rgba(60, 60, 67, 0.6));
}
.my-schedule-1 .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.my-schedule-1 .sf-symbol-microphone {
  margin: 2.2px 0;
  width: 11.9px;
  height: 17.7px;
}
.my-schedule-1 .search-field {
  border-radius: 10px;
  background: var(--fill-color-light-tertiary, rgba(118, 118, 128, 0.12));
  margin: 0 0 55px 29.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 8px;
  width: calc(100% - 29.3px);
  box-sizing: border-box;
}
.my-schedule-1 .my-schedule-1 {
  margin: 0 19.7px 32px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -0.4px;
  line-height: 0.647;
  color: #000000;
}
.my-schedule-1 .grooming-high-light-hair-permanent-color {
  position: absolute;
  left: 50%;
  bottom: 13px;
  translate: -50% 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-94 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  position: relative;
  margin-right: 6px;
  height: 62px;
  flex-grow: 1;
  flex-basis: 237px;
}
.my-schedule-1 .pm {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-78 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin: 13.5px 0;
  display: flex;
  padding: 8.5px 9.4px;
  flex-grow: 1;
  flex-basis: 75px;
  box-sizing: border-box;
}
.my-schedule-1 .frame-93 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 26px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-schedule-1 .edit {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-163 {
  border-radius: 25px;
  background: rgba(0, 117, 255, 0.5);
  margin-right: 50px;
  display: flex;
  padding: 16px 0;
  width: 100px;
  box-sizing: border-box;
}
.my-schedule-1 .cancel {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
.my-schedule-1 .frame-164 {
  border-radius: 25px;
  background: rgba(255, 0, 0, 0.7);
  display: flex;
  padding: 16px 0;
  width: 100px;
  box-sizing: border-box;
}
.my-schedule-1 .frame-165 {
  position: absolute;
  left: 50%;
  bottom: 19px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.my-schedule-1 .date-04162024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-132 {
  position: absolute;
  left: 50%;
  top: 14.5px;
  translate: -50% 0;
  display: flex;
  box-sizing: border-box;
}
.my-schedule-1 .frame-131 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 24px 32px 4.3px;
  display: flex;
  padding-top: 31px;
  width: calc(100% - 28.3px);
  height: 200px;
  box-sizing: border-box;
}
.my-schedule-1 .previous-appointments {
  margin: 0 2px 32px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -0.4px;
  line-height: 0.647;
  color: #000000;
}
.my-schedule-1 .grooming-hair-cut {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-941 {
  border-radius: 20px;
  background: rgba(255, 103, 103, 0.1);
  position: relative;
  margin-right: 6px;
  height: 62px;
  flex-grow: 1;
  flex-basis: 237px;
}
.my-schedule-1 .pm-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-781 {
  border-radius: 20px;
  background: rgba(142, 221, 255, 0.1);
  margin: 13.5px 0;
  display: flex;
  padding: 8.5px 9.4px;
  flex-grow: 1;
  flex-basis: 75px;
  box-sizing: border-box;
}
.my-schedule-1 .frame-931 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 26px;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule-1 .feed-back {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-166 {
  border-radius: 30px;
  background: #80BAFF;
  margin: 0 36px;
  display: flex;
  align-self: flex-start;
  padding: 15.5px 0;
  width: 130px;
  box-sizing: border-box;
}
.my-schedule-1 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-schedule-1 .date-01122024 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.my-schedule-1 .frame-1322 {
  position: absolute;
  left: 125.3px;
  top: 14.5px;
  display: flex;
  box-sizing: border-box;
}
.my-schedule-1 .frame-1321 {
  border-radius: 20px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 31px 9.6px 18px 0;
  width: 100%;
  box-sizing: border-box;
}
.my-schedule-1 .group-33373 {
  border-radius: 20px;
  margin-right: 17.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 17.7px);
  box-sizing: border-box;
}
.my-schedule-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.my-schedule-1 .menu {
  background: url('../assets/images/menu.png') 50% / contain no-repeat;
  position: absolute;
  left: 0px;
  top: 32px;
  width: 55px;
  height: 41px;
}
.my-schedule {
  background: #FFFFFF;
  display: flex;
  padding: 35px 7px 0 24.7px;
  box-sizing: border-box;
}
