.property-1-variant-22 .rectangle-4 {
  border-bottom: 2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 2px;
  right: 0px;
  bottom: 0px;
  height: 57px;
}
.property-1-variant-22 .container {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Crimson Text';
  font-weight: 700;
  font-size: 20px;
  color: #ABA0A0;
}
.property-1-variant-2 {
  padding: 29px 0 2px 0;
  box-sizing: border-box;
}
