.property-1-variant-31 .select {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.property-1-variant-3 {
  border-radius: 15px;
  background: #0075FF;
  display: flex;
  padding: 10px 16.3px 10px 10px;
  box-sizing: border-box;
}
