.property-1-hover .container {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.property-1-hover {
  border-radius: 10px;
  background: #87B7FF;
  display: flex;
  padding: 10px 15.8px;
  box-sizing: border-box;
}
