.property-1-variant-26 .usergmail-com {
  overflow-wrap: break-word;
  font-family: 'Crimson Text';
  font-weight: 700;
  font-size: 20px;
  color: #ABA0A0;
}
.property-1-variant-2 {
  border-bottom: 2px solid #000000;
  background: #FFFFFF;
  padding: 28px 0 3px 0;
  box-sizing: border-box;
}
