.rated-from-user-2 .vector-5 {
  width: 7.2px;
  height: 12.5px;
}
.rated-from-user-2 .frame-5 {
  display: flex;
  width: 7.2px;
  height: 12.5px;
  box-sizing: border-box;
}
.rated-from-user-2 .group-33341 {
  border-radius: 15px;
  background: #F3F3F3;
  position: relative;
  display: flex;
  padding: 16.8px 2.6px 15.8px 0;
  width: 51.6px;
  height: 45px;
  box-sizing: border-box;
}
.rated-from-user-2 .feedback {
  margin: 19.9px 0 1.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #161616;
}
.rated-from-user-2 .header {
  margin-bottom: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 276.5px;
  box-sizing: border-box;
}
.rated-from-user-2 .sofa-cleaning-service {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #161616;
}
.rated-from-user-2 .ellipse-28 {
  border-radius: 2px;
  background: #757575;
  margin: 7px 8px 6px 0;
  width: 4px;
  height: 4px;
}
.rated-from-user-2 .hr {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.rated-from-user-2 .container-2 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.rated-from-user-2 .ellipse-29 {
  border-radius: 2px;
  background: #757575;
  margin: 7px 8px 6px 0;
  width: 4px;
  height: 4px;
}
.rated-from-user-2 .includes-dummy-info {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.rated-from-user-2 .container-3 {
  margin-right: 9.4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.rated-from-user-2 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.rated-from-user-2 .image-45 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  background: url('../assets/images/image_45.png') 50% / cover no-repeat;
  width: 100px;
  height: 99.8px;
}
.rated-from-user-2 .container-4 {
  border-radius: 20px;
  border: 2px solid #F3F3F3;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  padding: 16px 12px 16.2px 12px;
  width: 343px;
  height: 132px;
  box-sizing: border-box;
}
.rated-from-user-2 .diamond-facial {
  position: relative;
  margin: 0 22.7px 38px 22.7px;
  display: flex;
  align-self: flex-start;
  padding: 28px 0 43px 78.9px;
  width: 343px;
  box-sizing: border-box;
}
.rated-from-user-2 .how-would-you-rate-the-experienceand-service {
  margin: 0 3.2px 21.3px 19.9px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #161616;
}
.rated-from-user-2 .vector {
  width: 28.4px;
  height: 27.4px;
}
.rated-from-user-2 .frame {
  display: flex;
  width: 28.4px;
  height: 27.4px;
  box-sizing: border-box;
}
.rated-from-user-2 .vector-2 {
  width: 28.4px;
  height: 27.4px;
}
.rated-from-user-2 .frame-2 {
  display: flex;
  width: 28.4px;
  height: 27.4px;
  box-sizing: border-box;
}
.rated-from-user-2 .vector-1 {
  width: 28.4px;
  height: 27.4px;
}
.rated-from-user-2 .frame-1 {
  display: flex;
  width: 28.4px;
  height: 27.4px;
  box-sizing: border-box;
}
.rated-from-user-2 .vector-3 {
  width: 28.4px;
  height: 27.4px;
}
.rated-from-user-2 .frame-3 {
  display: flex;
  width: 28.4px;
  height: 27.4px;
  box-sizing: border-box;
}
.rated-from-user-2 .vector-4 {
  width: 28.4px;
  height: 27.4px;
}
.rated-from-user-2 .frame-4 {
  display: flex;
  width: 28.4px;
  height: 27.4px;
  box-sizing: border-box;
}
.rated-from-user-2 .group-33355 {
  margin: 0 12.3px 42.4px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  column-gap: 22.6px;
  width: 232.4px;
  box-sizing: border-box;
}
.rated-from-user-2 .good {
  margin: 0 23.3px 35px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #161616;
}
.rated-from-user-2 .it-was-good-experience-consumer-was-friendly-and-cooperative {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #161616;
}
.rated-from-user-2 .container-1 {
  border-radius: 20px;
  background: #F3F3F3;
  position: relative;
  margin: 0 22.7px 53px 22.7px;
  display: flex;
  align-self: flex-start;
  padding: 17px 31.3px 0 14px;
  height: 200px;
  box-sizing: border-box;
}
.rated-from-user-2 .proceed {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.rated-from-user-2 .proceed-btns {
  border-radius: 10px;
  background: #283891;
  position: relative;
  display: flex;
  align-self: flex-end;
  padding: 14px 1px 14px 0;
  width: 343px;
  box-sizing: border-box;
}
.rated-from-user {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 56px 39px 117px 18.3px;
  box-sizing: border-box;
}
