.setting-time .setting-availability {
  margin: 0 10px 38px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}
.setting-time .container-27 {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .mon {
  margin-right: 10px;
  width: 40.7px;
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .tue {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .wed {
  margin-right: 18.2px;
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .thur {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.setting-time .fri {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .sat {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .sun {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .container-4 {
  margin: 0 2.2px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 315.4px;
  box-sizing: border-box;
}
.setting-time .container {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-42 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-43 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-2 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-44 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-3 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-45 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-4 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-46 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-5 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-47 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-6 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-48 {
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-12 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .container-20 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-62 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-21 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-63 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-22 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-64 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-23 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-65 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-24 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-66 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-25 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-67 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-26 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-68 {
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .container-15 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-57 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-28 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .calander-components {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-16 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-58 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-17 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-59 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-30 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .calander-components-2 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-18 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-60 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-19 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-61 {
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-5 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .container-9 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-51 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-10 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-52 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-11 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-53 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-29 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .calander-components-1 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-12 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-54 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-13 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-55 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-14 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-56 {
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  padding: 10px 11.6px;
  flex-grow: 1;
  flex-basis: 40px;
  box-sizing: border-box;
}
.setting-time .container-8 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .container-7 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-49 {
  border-radius: 10px;
  background: #FFFFFF;
  margin-right: 8px;
  display: flex;
  padding: 10px 11.6px;
  box-sizing: border-box;
}
.setting-time .container-8 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.setting-time .frame-50 {
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  padding: 10px 11.6px;
  box-sizing: border-box;
}
.setting-time .container-6 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.setting-time .testing-calandeer {
  background: rgba(82, 117, 150, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 36px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.setting-time .group-33 {
  margin-bottom: 29px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .please-select-available-time {
  margin: 0 5px 25px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 17px;
  color: #000000;
}
.setting-time .am {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-69 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.2px;
  box-sizing: border-box;
}
.setting-time .am-6 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-61 {
  border-radius: 50px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.2px;
  box-sizing: border-box;
}
.setting-time .am-4 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-73 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.2px;
  box-sizing: border-box;
}
.setting-time .container-2 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .am-3 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-72 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.2px;
  box-sizing: border-box;
}
.setting-time .am-2 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-71 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.2px;
  box-sizing: border-box;
}
.setting-time .am-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-70 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.2px;
  box-sizing: border-box;
}
.setting-time .container-3 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .pm-6 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-74 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .pm-7 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-75 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .am-5 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-6 {
  border-radius: 50px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .container-10 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .pm-10 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-79 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .pm-9 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-78 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .pm-8 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-77 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .container-9 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .pm {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-80 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .pm-1 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-81 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .pm-2 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-82 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .container-11 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .pm-3 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-83 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .pm-4 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-84 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .pm-5 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.setting-time .frame-85 {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.4px;
  box-sizing: border-box;
}
.setting-time .container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .frame-7 {
  background: #D4DDE5;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  padding: 20px 38px 20px 37px;
  width: 100%;
  box-sizing: border-box;
}
.setting-time .back {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}
.setting-time .buttons {
  border-radius: 30px;
  background: #A8A8A8;
  margin-right: 30px;
  display: flex;
  padding: 15px 0;
  flex-grow: 1;
  flex-basis: 162px;
  box-sizing: border-box;
}
.setting-time .next {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}
.setting-time .buttons-1 {
  border-radius: 30px;
  background: #0075FF;
  display: flex;
  padding: 15px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.setting-time .group-30 {
  border-radius: 30px;
  flex-grow: 1;
  flex-basis: 170px;
  box-sizing: border-box;
}
.setting-time .frame-4 {
  margin: 0 15px 0 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 38px);
  box-sizing: border-box;
}
.setting-time {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 15px 23px 15px;
  box-sizing: border-box;
}
