.statefill-with-values .vector {
  width: 26px;
  height: 26px;
}
.statefill-with-values .checkbox-checked {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  margin-right: 9px;
  display: flex;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
}
.statefill-with-values .wallpaper-installation {
  margin: 4.5px 0 5.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.statefill-with-values .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.statefill-with-values .container-3 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.statefill-with-values .container-2 {
  border-right: 1px solid #000000;
  margin-right: 7px;
  display: flex;
  padding: 0 2.6px 0 2px;
  box-sizing: border-box;
}
.statefill-with-values .container-5 {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.statefill-with-values .container-4 {
  display: flex;
  box-sizing: border-box;
}
.statefill-with-values .container-1 {
  border: 1px solid #000000;
  margin: 5px 0 6px 0;
  display: flex;
  flex-direction: row;
  padding-right: 9.3px;
  box-sizing: border-box;
}
.statefill-with-values .container {
  margin: 0 11px 7px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 21px);
  box-sizing: border-box;
}
.statefill-with-values .spackle-knife-sandpaper-multi-surface-soap-rag-wallpaper-primer {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.statefill-with-values .container-6 {
  border-radius: 10px;
  border: 1px solid #7F7F7F;
  padding: 10.5px 6px;
  width: 100%;
  box-sizing: border-box;
}
.statefill-with-values {
  border-radius: 5px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
