.state-default-6 .short-description-about-tools-and-materials-you-will-be-using {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.25);
}
.state-default {
  border-radius: 3px;
  border: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  padding: 10px 2.1px 10px 5.3px;
  box-sizing: border-box;
}
