.statetext-written .spackle-knife-sandpaper-multi-surface-soap-rag-wallpaper-primer {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.statetext-written {
  border-radius: 3px;
  border: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  padding: 10px 8.7px 10px 5.3px;
  box-sizing: border-box;
}
