.state-selected .image-42 {
  border-radius: 100px;
  background: url('../assets/images/image_42.png') 50% / cover no-repeat;
  margin-bottom: 16px;
  width: 150px;
  height: 150px;
}
.state-selected .carpentry {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.state-selected {
  box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 15px;
  box-sizing: border-box;
}
