.state-default-7 .am {
  overflow-wrap: break-word;
  font-family: 'Arial Rounded MT Bold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.state-default {
  border-radius: 50px;
  background: #FFFFFF;
  display: flex;
  padding: 8.5px 9.2px;
  box-sizing: border-box;
}
